
* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(207, 66%, 35%);
  font-family: 'Courier New', Courier, monospace;  
  font-weight: bolder;
  font-size: x-large;
  color: hsl(207, 66%, 10%);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 7em;
}

.title {
  margin: 3em;
  justify-self:flex-start;
}

.section {
  margin: 2em;
}